{% extends "padre.html" %}

{% load static %}

{% block titulo %}
    Formulario de postulacion Voluntarios - Salvando Patitas
{% endblock %}

{% block contenidoQueCambia%}
<br>
<br>
<div class="container-fluid bg-light">
    <div class="container">
    
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="bg-primary py-5 px-4 px-sm-5"; ">

                    <h3>Formulario de postulacion</h3>
                    
                    
                    <form action= " " method ="POST" class="py-5">  {% csrf_token %}
                       

                            <p style="font-size: 20px ;">{{ form.nombre }}</p><br>
                            <p style="font-size: 20px ;">{{ form.email }}</p><br>
                            <p style="font-size: 20px ;">{{ form.refugio }}</p>
                            <br>
                            <br>
                       

                    
                
                        <div>
                         
                            <input type="submit" name="mail"    class="btn btn-dark btn-block border-0 py-3">
                          
                        </div>
                   
                    </form>


                </div>
            </div>
            <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                <h2 class="text-secondary mb-3">Conviértete en voluntario!</h2>
                <h1 class="display-4 mb-4">Salva a <span class="text-primary">una patita</span></h1>
                <p>Según varias definiciones que encontramos en la web Voluntario es "la persona que por elección propia dedica parte de su tiempo a la acción solidaria, altruista, sin recibir remuneración por esto". Para nosotros es algo más, ser voluntario es dar toda nuestra fortaleza, ánimo, la voluntad; pero más que eso, es un estilo de vida.</p>
                <div class="row py-2">
                    <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-house font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Cuidado veterinario</h5>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-food font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Cuidado alimentario</h5>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-grooming font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Acompañamiento animal</h5>
                            </div>
                            <p class="m-0">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <h1 class="flaticon-toy font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Entrenamiento animal</h5>
                            </div>
                            <p class="m-0">Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3">Sobre nosotros</h4>
            <h1 class="display-4 mb-4"><span class="text-primary">Voluntariado</span> & <span class="text-secondary">Adopción</span></h1>
            <h5 class="text-muted mb-3">Llega un día en la vida en la cual nos preguntamos qué podemos hacer por alguien más. A todos los voluntarios nos pasó levantarnos un día y decirnos “hoy comienzo a luchar por los animales, hoy comienzo a luchar por aquellos por los cuales nadie habla, por aquellos olvidados por muchos”. Entonces activamos y nuestra vida cambia por completo: se llena de miradas de agradecimiento, de esperanza por un mundo mejor, de “movidas de rabitos”, de orejas levantadas y de amor incondicional. Ésta es también tu oportunidad de comenzar a vivir ésta experiencia inigualable que es ayudar a los animales, aportar tu gran granito de arena para lograr un futuro sin abandono ni maltrato animal. </h5>
            <p class="mb-4">Como voluntario estarás colaborando en el tiempo que puedas con diferentes actividades: eventos, jornadas de trabajo en el refugio, colectas, rescates y muchísimas cosas más. Ser voluntario del Refugio San Francisco de Asís es pertenecer a un enorme grupo de gente con tus mismos principios, con tus mismos ideales.</p>
            <ul class="list-inline">
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Ayudando a perros y gatos callejeros</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Servicios de emergencia asociados</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Sumate!</h5></li>
            </ul>
           
        </div>
        <div class="col-lg-5">
            <div class="row px-3">
                <div class="col-12 p-0">
                    <img class="img-fluid w-100" src="{% static "img/about-1.jpg" %}" alt=""><br><br>
                </div>
                <div class="col-12 p-0">
                    <img class="img-fluid w-100" src="{% static "img/about-2.jpg" %}" alt=""><br><br>
                </div>
                <div class="col-12 p-0">
                    <img class="img-fluid w-100" src="{% static "img/about-3.jpg" %}" width="180px" height="180px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


                   
{%endblock%}