{% extends "padre.html" %}

{% load static %}
{% block titulo %}
Listado de refugios - Salvando Patitas
{% endblock titulo %}

{% block contenidoQueCambia%}

<br>
<div>
    <div style="text-align: right";>
        
        <form action="{% url "buscar-refugio" %}" method="GET" > {% csrf_token %}

            <input type ="text" name="nombre" id="nombre" placeholder="Nombre del Refugio">
         
             <input type="submit"  value="Buscar">
         
         
         </form>
    </div>   
</div>

<div class="container-fluid bg-light pt-5">
    <div class="container py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Nuestra labor</h4>
            <h1 class="display-4 m-0"><span class="text-primary">Refugios</span> - Nuestras ubicaciones</h1>
        </div>
        <div class="row pb-3">

            {% for refugio in refugios %}

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    
                    <h3 class="mb-3"></h3><br>
                    {% if refugio.logo %}
                    <img src="{{refugio.logo.url}}", border-radius= 50%, width="180px" height="180px
                    "><br>
                    {% endif %}
                    <p> Nombre: {{refugio.nombre}} </p>
                    <p> Direccion: {{refugio.domicilio}}</p>
                    
                
                    <br>

                    <a href="{% url "detalle-refugio" refugio.id %}" class="btn btn-primary">Detalle</a>
                    <br>
                    {% if request.user.is_authenticated %}
                    <a href="{% url "voluntario" %}" class="btn  btn-secondary mt-1 mt-md-2 px-2">Se un Voluntario</a>
                    {% else %}
                    <a href="{% url "requerimiento" %}" class="btn  btn-secondary mt-1 mt-md-2 px-2">Se un Voluntario</a>
                    {% endif %}
                </div>
            </div>

            {% endfor%}
           

        </div>
    </div>
</div>

{% endblock contenidoQueCambia%}
