{% extends 'padre.html' %}
{% block titulo %}
Política de privacidad - Salvando Patitas
{% endblock titulo %}

{% block contenidoQueCambia %}

<div style="padding: 20px 40px;" align="justify">

    <h1>Política de Privacidad</h1>
    Desde Salvando Patitas queremos darte algunos detalles sobre cómo tratamos los datos personales que nos facilitas al interactuar con nosotros. Así, esta política de privacidad se aplica a todas las personas que nos facilitan o nos han facilitado datos de carácter personal por cualquier medio, específicamente donde veas una referencia a esta política, incluyendo en un formulario, página web, aplicación móvil, etc.
    <br>
    <br>
    <h3>Información básica sobre cómo tratamos tus datos</h3>

    <h5>Responsable</h5>
    Salvando Patitas<br>
    Correo electrónico: home.salvando.patitas@gmail.com<br><br>

    <h5>Finalidad</h5>
    Utilizamos tus datos para:<br>
    <ol>
        <li>Mantener la relación para la prestación de nuestros servicios.</li>
        <li>La gestión, administración, prestación y mejora del servicio ofrecido por Salvando Patitas.</li>
        <li>El envío de newsletters o información sobre nuestras novedades o sobre nuestros servicios.</li>
    </ol>
    <h5>Legitimación</h5>
    La ejecución y prestación de los contratos realizados o el consentimiento del interesado, así como los intereses legítimos de Salvando Patitas.<br><br>

    <h5>Destinatarios</h5>
    No se cederán los datos sin consentimiento expreso, salvo obligación legal.<br><br>

    <h5>Derechos</h5>
    Acceder, rectificar y suprimir los datos, así como otros derechos, como se explica en la información adicional.<br><br>

    <h5>Información adicional</h5>
    Puede consultar la información adicional y detallada sobre Protección de Datos en nuestra página web. Según lo dispuesto en la Ley 25.326, de 04 de octubre, Protección de datos personales (en adelante, lo llamaremos LPDP) debemos facilitarte la información relativa al tratamiento de tus datos que vamos a realizar con el fin de que tengas toda la información necesaria para darnos de manera válida tu consentimiento. Por eso es esencial que leas atentamente la información que te detallamos a continuación.<br>
    Los datos que decidas proporcionarnos (en el pasado o en el futuro) a través de cualquiera de los medios
    habilitados, nos los facilitas libremente y aceptas que estos datos personales sean objeto del tratamiento
    correspondiente en cada caso en función del consentimiento y la finalidad para la cual nos los hayas facilitado.
    <br>
    <br>
    <h3>¿Para qué trataremos tus datos?</h3>
    Los datos personales que nos facilitas en los distintos formularios habilitados al efecto los utilizamos para gestionar los productos y servicios que ofrecemos en Salvando Patitas. Estos datos nos permiten mantener la relación con los usuarios, así como la gestión, administración, prestación y mejora de nuestros servicios, y sin ellos, no podríamos prestarte servicios. Así, si no quieres que tratemos tus datos, no podrás utilizar nuestros servicios.<br>

    Igualmente, en el caso de que exista una relación contractual, te enviaremos información sobre nuestros productos y servicios. Si no quieres recibir ningún tipo de información sobre nuestros servicios o en algún momento quieres dejar de recibirla, indícanoslo mandándonos un mail a la dirección home.salvando.patitas@gmail.com, o mediante correo postal al domicilio social de Salvando Patitas que hemos indicado más arriba.
    <br>
    <br>
    <h3>¿Por qué razón utilizamos tus datos personales?</h3>
    La base legal del tratamiento de tus datos dependerá del rol que tengas y de la forma que interactúes con nosotros, pudiendo ser un cliente, usuario de nuestros servicios, persona que presta servicios para algún proveedor o cliente, etc.<br>
    En cualquiera de estos casos:<br>
    <ol>
        <li>Necesitamos procesar tu información personal para poder prestarte el servicio, con las finalidades descritas anteriormente.</li>
        <li>Cuando nos has dado tu consentimiento para usar tus datos de una forma determinada, marcando expresamente una casilla de consentimiento al completar un formulario.</li>
        <li>Por interés legítimo, para la gestión de la empresa y de nuestros servicios, siempre y cuando estos intereses no queden anulados por tus derechos. En este sentido, Salvando Patitas persigue varios intereses legítimos a la hora de usar tus datos personales:
            <ol>
                <li>Mejorar y personalizar nuestro servicio.</li>
                <li>Garantizar la seguridad de nuestro servicio.</li>
                <li>Velar por la protección de nuestros usuarios.</li>
                <li>Desarrollar nuevas funcionalidades y servicios para nuestros usuarios.</li>
            </ol>
        </li>
    </ol>

    <h3>¿A quién comunicamos tus datos?</h3>
    No cedemos tus datos personales a nadie. Únicamente comunicaremos los mismos cuando estemos obligados por una ley o que previamente nos hayas dado tu autorización expresa.<br>
    Para poder prestar nuestros servicios necesitamos trabajar con empresas que tratan tus datos por cuenta nuestra (proveedores de hosting, de correo electrónico, etc.), como parte de la prestación de un servicio que les hemos contratado, con quien firmamos los correspondientes contratos de encargados de tratamiento y les exigimos el cumplimiento de la normativa en materia de datos personales.<br><br>

    <h3>¿Durante cuánto tiempo conservaremos tus datos?</h3>
    Respecto de cada tratamiento para el cual nos hayas dado tu consentimiento, conservaremos los datos el tiempo que sea necesario para garantizar la prestación del servicio y cumplir con nuestras obligaciones legales.<br>

    Los datos personales proporcionados se conservarán mientras sigas manteniendo una relación con nosotros hasta que solicites tu baja y eliminación de los datos.<br>

    Puedes solicitar la cancelación de tu cuenta en el momento que estimes oportuno.<br>

    Una vez cancelada tu cuenta, bloquearemos tus datos y los conservaremos únicamente en el caso de que la normativa aplicable nos lo exija.<br><br>

    <h3>¿Cómo custodiamos tus datos?</h3>
    En cumplimiento de nuestra obligación de guardar secreto respecto de los datos de carácter personal recogidos así como de nuestro deber de custodiarlos, nos comprometemos a adoptar las medidas de seguridad necesarias para evitar su modificación, alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido en la LPDP.<br>

    En Salvando Patitas reconocemos y nos tomamos muy en serio nuestra responsabilidad a la hora de proteger tus datos personales. Es por ello que mantenemos los niveles de seguridad de protección de datos personales conforme la LPDP, de protección de datos de carácter personal, y hemos establecido todos los medios técnicos anuestro alcance para evitar la pérdida, mal uso, alteración acceso no autorizado y robo de los datos que nos has facilitado, sin perjuicio de informarte de que las medidas de seguridad en Internet no son 100% inexpugnables.<br><br>

    <h3>¿Cómo puedes controlar la gestión de tus datos?</h3>
    De nuevo te recordamos que podrás ejercitar sus derechos de acceso, rectificación, supresión y oposición así como los de limitación y portabilidad, en cualquiera de las direcciones que te hemos dado al principio o en la dirección de correo electrónico home.salvando.patitas@gmail.com, adjuntando fotocopia del DNI e indicándonos qué actuación por nuestra parte solicitas.<br>

    El ejercicio de todos estos derechos es gratuito y, en aras a la mayor transparencia, te facilitamos más información sobre estos derechos:<br><br>

    <h5>Acceso, Rectificación y Supresión</h5>
    Puedes consultar tus datos personales solicitando una copia de los mismos a cualquiera de las direcciones
    facilitadas.<br><br>

    <h5>Oposición</h5>
    En determinadas circunstancias y por motivos relacionados con tu situación particular, puedes oponerte al tratamiento de tus datos. ProteCMS dejará de tratar los datos, salvo por motivos legítimos imperiosos, por el ejercicio o la defensa de posibles reclamaciones, o para cumplir con nuestras obligaciones legales.<br><br>

    <h5>Limitación del tratamiento</h5>
    En determinadas circunstancias puedes solicitar la limitación del tratamiento de tus datos, en cuyo caso únicamente los conservaremos para cumplir con nuestras obligaciones legales.<br><br>

    <h5>Portabilidad</h5>
    En determinados supuestos puedes recibir, en formato electrónico, los datos personales que nos hayas facilitado.<br><br>

    <h5>Retirada del consentimiento</h5>
    En cualquier momento puedes retirar el consentimiento prestado sin que ello afecte a la licitud del tratamiento. Si solicitas la cancelación de tus datos dejaremos de procesar los mismos pero ten en cuenta que no podremos seguir prestándote servicios y que, en determinados casos en los que tengamos la base legal correspondiente, seguiremos procesando tu información después de que hayas retirado tu consentimiento y solicitado la eliminación de tu información.<br>

    Igualmente te informamos de que tienes derecho a presentar una reclamación en la Agencia Argentina de Protección de Datos <a href="https://www.argentina.gob.ar/aaip/datospersonales" target="_blank">desde aquí</a>. En todo caso, por nuestro fuerte compromiso con la privacidad te invitamos a que te dirijas directamente a nosotros para solucionar cualquier cuestión relacionada con tus datos personales; estaremos encantados de poder serte de utilidad.<br><br>

    <h3>Modificación de la presente política de datos de carácter personal</h3>
    Salvando Patitas se reserva el derecho a modificar la presente política para adaptarla a futuras novedades legislativas o jurisprudenciales, así como a prácticas de la industria, informando previamente a los usuarios a través de nuestra web. Te recomendamos que consultes esta página con cierta frecuencia para revisar la versión más reciente. En la parte superior de este documento te indicamos la fecha de la última actualización.<br>

    El nuevo aviso de privacidad será efectivo desde el momento de su publicación. Si no aceptas las modificaciones del nuevo aviso, podrás ejercitar cualquiera de tus derechos o dejar de utilizar nuestro servicio. Si continúas accediendo o utilizando nuestros servicios después de la entrada en vigor de dichas modificaciones, aceptas estar sujeto a las nuevas políticas de privacidad.<br>

    En ningún caso dichas modificaciones afectarán a la elección que hubieras formulado en lo que respecta al modo en que Salvando Patitas puede tratar tus datos personales. Si en algún momento quisiéramos utilizar tus datos de forma distinta a la establecida en el momento de la recogida, te lo notificaremos por correo electrónico, solicitando tu consentimiento.<br>

    Asimismo, Salvando Patitas se reserva el derecho a la rescisión de los servicios que presta en aquellos usuarios que no cumplan con los términos y condiciones legales de uso, así como con la legislación vigente.<br>

</div>
{% endblock %}