{% extends "padre.html" %}

{% load static %}

{% block titulo %}
Sobre nosotros - Salvando Patitas
{% endblock%}

{% block contenidoQueCambia%}


 <!-- Testimonial Start -->
 <div class="container-fluid bg-light my-5 p-0 py-5">
    <div class="container p-0 py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Sobre nosotros</h4>
            <h1 class="display-4 m-0">Proyecto <span class="text-primary">Salvando Patitas</span></h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            
            
            <div class="bg-white mx-3 p-4">
                <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                    
                    <div class="ml-3"><br><br>
                        <h1 align="center">Historia de un Sueño</h1>
                        <i></i>
                    </div>
                </div>
                <img src="{% static "img/adopta.jpg" %}" width="240" height ="240" hspace="20" align="right">
                <p class="m-0" align="justify">Salvando Patitas es una ONG, sin fines de lucro. Estamos inscriptos, como Asociación Civil, <font color="#c53f12">SALVANDO PATITAS</font> personeria juridica n° 6971, Ruta16 Parcela 501 E Monte Grande, Partido de Esteban Echeverría, zona sur del Gran Buenos Aires, en Argentina.</p><br>
                <p class="m-0" align="justify">Nuestra organización, considerando todos sus refugios tiene una población que ronda los 750 perros. El trabajo de rescate y recuperación NO TIENE PRECEDENTES EN AMERICA LATINA.  Por ser un proyecto de refugios NO EUTANÁSICOS no considera inviable a ninguno de sus animales. Lo que lo hace ÚNICO EN EL MUNDO son sus 120 perros paraliticos, ellos no pueden caminar y usan carritos hechos a medida; además viven en el refugio 50 ciegos, y más de 250 viejitos, Muchos de ellos están en tratamiento por problemas renales, hepáticos, cardíacos, oncológicos o diabéticos.</p><br>
                <img src= "{% static "img/about-3.jpg" %}" width="240" height ="240" hspace="20" align="left">
                <p class="m-0" align="justify"><font color="#c53f12">SALVANDO PATITAS</font> no recibe subsidios, aportes de empresas, o alimento balanceado de ninguna compañía, no tiene cuotas ni socios. Se puede ser padrino / madrina del refugio, o de un perrito que desees proteger en particular, a voluntad: no hay montos fijos y la frecuencia de la ayuda también es voluntaria.
                </p><br>
                <p class="m-0" align="justify">El círculo que se inicia con el rescate y continúa con la recuperación, culmina con la adopción. En el refugio ingresan alrededor de 100 animales destruidos, mes a mes, gracias a que una cantidad similar se van en adopción gracias a la excelente tarea desarrollada por el equipo de adopciones.
                </p><br>
                <p class="m-0" align="justify">El objetivo principal de la organización es la concientización de la sociedad. Las ideas que se difunden a través del accionar diario del refugio son las del respeto irrestricto por la vida y la de que el bienestar de los animales se puede lograr si la sociedad se involucra y los sentimientos de piedad se traducen en acciones concretas. Los pilares de esta concientización son: el cuidado adecuado y el no abandono de las mascotas,  la esterilización como único medio de control poblacional, la adopción en lugar de la compra de animales, el rechazo a toda forma de sacrificio o eutanasia. La concientización a la cual apunta <font color="#c53f12">SALVANDO PATITAS</font> va más allá del respeto y cuidado hacia a los animales. El objetivo es lograr una sociedad no abandónica y respetuosa, tanto de sus animales, como de sus abuelos como de las personas con capacidades diferentes.</p><br>
                <img src= "{% static "img/perro-1.jpg" %}" width="240" height ="240" hspace="20" align="left">
                <p class="m-0" align="justify">Una característica distintiva de <font color="#c53f12">SALVANDO PATITAS</font> es el sistema de “puertas abiertas”: cualquier persona puede visitar el refugio para brindar su amor a los camperitos (sobrenombre cariñoso de los perritos de refugio) o, si lo desea,  formar parte del equipo de voluntarios de esta organización. De esta manera, se estimula a quienes se acercan a crear nexos con los animales y a involucrarse.</p><br>
                <p class="m-0" align="justify">El team de la ONG cuenta con un total de 102 organizadores y más de 250 voluntarios, que sábado a sábado vienen al refugio a trabajar por y para ellos.</p><br><br><br><br>
                <p class="m-0" align="center"><font class="text-primary" size="30">SALVANDO PATITAS -</font><font class="text-secondary mb-3" size="30"> Sumate, ¡te esperamos!</font></p><br>
                
                <hr size="2px" width="80%" color="#c53f12">
                
                <br>
                    <h2>¿Quiénes somos? Conoce más sobre nosotros!</h2>

                    <br>
                   
                    <div class="card-body">
                        <div class="bg-white mx-3 p-4">
                            <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                                <img class="img-fluid" src="{% static "img/kedy.jpg" %}" style="width: 130px; height: 130px;" alt="">
                                <div class="ml-3">
                                    <h3>Kedy Acuña</h3>

                                    <i>Soy Kedy Acuña, 30 años. Naci en Perú, pero vivo hace 29 años en Argentina.
                                        Medico Recibido de la U.B.A, especialista en Ortopedia y Traumatologia.
                                        Haciendo una sub-especialidad en astroscopia actualmente.
                                        Trabajo en salud publica. Vivo con mi perro "Miocardiocito" de 10 meses. 
                                        Como pasatiempo hago ciclismo y me gusta cocinar.</i>
                                </div>
                            </div>
                        <br> <br>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                                <img class="img-fluid" src="{% static "img/Damian.jpg" %}" style="width: 130px; height: 130px;" alt="">
                                <div class="ml-3">

                                    <h3>Damian Correa</h3>

                                    <i>Hola, me llamo Damian Correa, Soy Electrotecnico y Profesor de Musica recibido del Conservatorio de General San Martin. 
                                    Este es mi primer acercamiento al mundo de la programacion de una manera formal, siempre fui curioso y autodidacta y aunque a veces pienso que llegue tarde, aca estoy.
                                    </i>
                                </div> 
                            </div>
                        <br> <br>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                                <img class="img-fluid" src="{% static "img/Augusto.jpg" %}" style="width: 130px; height: 130px;" alt="">
                                <div class="ml-3">
                                    <h3>Augusto Römer</h3>
                                    <i>Hola! Soy Augusto Romer, Cordobés de 27 años. Contador Público nacional actualmente trabajando en el área de impuestos y legales de una consultora internacional, donde brindamos asesoramiento impositivo nacional. Vivo con mi familia, conformada por dos perritos: "Kratos" y "Freya", ambos rescatados desde pequeños.
                                    </i>
                                </div>
                            </div>
                        </div>
                           
                        <hr size="2px" width="80%" color="#c53f12">
                        <br>

                                <div class="d-flex flex-column text-center mb-5">
                                    <h2 class="text-secondary mb-3">Contactos</h2>
                            
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="team card position-relative overflow-hidden border-0 mb-4">
                                            <img class="card-img-top" src="img/team-1.jpg" alt="">
                                            <div class="card-body text-center p-0">
                                                <div class="team-text d-flex flex-column justify-content-center bg-light">
                                                    <h5>Damián Correa</h5>
                                                    <i>Fundador & CEO</i>
                                                </div>
                                                <div class="team-social d-flex align-items-center justify-content-center bg-dark">

                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram" ></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="team card position-relative overflow-hidden border-0 mb-4">
                                            <img class="card-img-top" src="img/team-2.jpg" alt="">
                                            <div class="card-body text-center p-0">
                                                <div class="team-text d-flex flex-column justify-content-center bg-light">
                                                    <h5>Augusto Römer</h5>
                                                    <i>Gerente administrativo</i>
                                                </div>
                                                <div class="team-social d-flex align-items-center justify-content-center bg-dark">

                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram" ></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="team card position-relative overflow-hidden border-0 mb-4">
                                            <img class="card-img-top" src="img/team-3.jpg" alt="">
                                            <div class="card-body text-center p-0">
                                                <div class="team-text d-flex flex-column justify-content-center bg-light">
                                                    <h5>Kedy Acuña</h5>
                                                    <i>Gerente de veterinaria</i>
                                                </div>
                                                <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram" ></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="team card position-relative overflow-hidden border-0 mb-4">
                                            <img class="card-img-top" src="img/team-4.jpg" alt="">
                                            <div class="card-body text-center p-0">
                                                <div class="team-text d-flex flex-column justify-content-center bg-light">
                                                    <h5>Tomas Uribe</h5>
                                                    <i>Tutor del Grupo</i>
                                                </div>
                                                <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in" ></i></a>
                                                    <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram" ></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>        


        </div>
    </div>
</div>
<!-- Testimonial End -->



 

 

{%endblock%}