{% extends "padre.html" %}

{% load static %}

{% block titulo %}
    Resultados de búsqueda de mascotas - Salvando Patitas
{% endblock %}

{% block contenidoQueCambia%}


<div class="container-fluid bg-light pt-5">
    <div class="container py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Nuestra labor</h4>
            <h1 class="display-4 m-0"><span class="text-primary">Mascotas</span> encontradas!</h1>
        </div>
        <div class="row pb-3">
        {% if fichas %}


            {% for ficha in fichas %}

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    
                    <h3 class="mb-3">{{ficha.nickname}}</h3><br>
                    <img src="{{ficha.image.url}}", style="border-radius: 50%; align-items: center;" width="180px" height="180px
                    "><br>
                    
                    
                    
                    <li> Sexo: {{ficha.sexo}} </li>
                    <li> Años de Edad: {{ficha.edad_aprox}} </li>
                 
                    <br>
                
                    <br>

                    <a href="{% url "detalle-mascota" ficha.id %}"  class="btn btn-primary">Detalle</a>
                    <br>
                    {% if request.user.is_authenticated %}
                    <a href="{% url "adopcion" %}" class="btn  btn-secondary mt-1 mt-md-2 px-2">Adoptame</a>
    
                    {% else %}
                    <a href="{% url "requerimiento" %}" class="btn  btn-secondary mt-1 mt-md-2 px-2">Adoptame</a>
                    {% endif%}
                </div>
            </div>

            {% endfor%}
        {% else %}

            <h2>No se encontro la Ficha</h2>
    
        {% endif %}   

        </div>
    </div>
</div>




{% endblock %}